{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/SendmailController.php'|file_link(0) }}">src/Controller/SendmailController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/sendmail/index.html.twig'|file_link(0) }}">templates/sendmail/index.html.twig</a></code></li>
    </ul>
</div>

{% for mail in mails %}

    <ul>
        <li>
            {{ mail.sender }}
            {{ mail.recipient }}
            {{ mail.subject }}
            {{ mail.message }}
        </li>

    </ul>


    {% endfor %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}

