{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

        <ul>
            <li>
                {{ mails.sender }}
                {{ mails.recipient }}
                {{ mails.subject }}
                {{ mails.message }}
            </li>
        </ul>
{% endblock %}

